<h1>Facebook</h1>
<a href="/signup"><button>SIGNUP</button></a>
<a href="/login"><button>LOGIN</button></a><br>
<body style="background-color:rgba(92, 41, 212, 0.671);"></body>
Facebook helps you connect and share with the people in your life.