<h1>LOGIN</h1>
<form>
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email"><br>
  <label for="pass">Password:</label><br>
  <input type="text" id="pass" name="pass">
</form>
<button type="button">LOGIN</button>